@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: #c3c5b9;
    font-family: JetBrains Mono, monospace;
    text-align: center;
    color: rgb(32, 31, 31);
    font-size: 2vw
}

#calendario {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    table-layout: center;
}

#calendario td,
#calendario th {
    text-align: center;
    vertical-align: middle;
}