@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: #2b2b2b;
    font-family: JetBrains Mono, monospace;
    text-align: center;
    color: #ffffff;
    font-size: 2vw
}

#calendario,
#calendario-dias {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.celda-clickeable {
    cursor: pointer;
    transition: background 0.2s;
}

.celda-clickeable:hover {
    filter: brightness(0.7);
    transition: filter 0.2s;
}

.container-calendario {
    padding: 0 20%;
}