body {
    background-color: #2b2b2b;
    font-family: JetBrains Mono, monospace;
    text-align: center;
    color: #ffffff;
    font-size: 2vw
}

#calendario,
#calendario-dias {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.tocable {
    cursor: pointer;
    transition: background 0.2s;
    border-radius: 0.4em;
}

.col {
    aspect-ratio: 1 / 1;
    width: auto;
    margin: 2px;
}

.tocable:hover {
    filter: brightness(0.7);
    transition: filter 0.2s;
}

.container-calendario {
    padding: 0 20%;
}

.fila-fija {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    /* Espacio entre elementos */
    margin-bottom: 0.5em;
}

.fila-ano-mes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-bottom: 1em;
}

.flecha {
    font-size: 1.5em;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#mesMostrado {
    width: 10ch;
    /* Ajusta según el mes más largo, por ejemplo "septiembre" */
    text-align: center;
}


.texto-central {
    text-align: center;
    font-size: 1.32em;
    font-family: inherit;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
    margin: 0;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -24%;
    /* Oculto por defecto */
    width: 24%;
    height: 100%;
    background: #222;
    color: #fff;
    transition: left 0.3s;
    z-index: 1000;
    padding: 1em;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.4);
    overflow-y: auto;
    border-radius: 0 8px 8px 0;
}

#sidebar.active {
    left: 0;
}

#sidebar h2 {
    font-size: 1.5em;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

#sidebar-content {
    flex: 1;
}

#closeSidebar {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;

}

.circulo {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 6px;
    vertical-align: middle;
}

.titulo {
    width: 100%;
    min-height: 2em;
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid #555;
    outline: none;
    resize: vertical;
    /* Permite ajustar el alto */
    overflow-y: auto;
    /* Muestra scroll si es necesario */
    font-family: inherit;
    box-sizing: border-box;
}

.titulo:focus {
    outline: none;
    box-shadow: none;
    border-color: #555;
}

#contenedorCentral {
    padding: 2% 0;
    transition: transform 0.3s ease;
}

.fila-ano-mes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1em;
}